@import url(./normalize.css);
@import url(../fonts/stylesheet.css);

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100vw;
	height: 100vh;
    perspective: 2px;
	overflow-x: hidden;
	overflow-y: auto;
    transform-style: preserve-3d;
    position: relative;
}

.wrapper {
    width: 100vw;
    height: 596px;
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* position: absolute; */
    /* transform: translateZ(-1px) scale(2); */
    padding-top: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 50% 100%, 0 89%);
}

.wrapper::after {
    content: '';
    background-color:rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .25s ease;
}

.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: white;
}


.wrapper-nav {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.nav-link {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-align: left;
    color: #3E4C4E;
}

.nav-link:hover {
    color: #14AFCA;
}


.logo-header {
    width: 281px;
    height: 36px;
    background-image: url(../images/CompanyName.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section-header {
    position: relative;
    z-index: 1;
}

.section-header-text {
    width: 1040px;
    font-family: FuturaBT;
    font-weight: 900;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 149px auto;
}

.section1-wrapper {
    padding-bottom: 29px;
}

.section1 {
    width: 1040px;
    margin: 122px auto;
    text-align: center;
}

.section1-h1 {
    color: #14AFCA;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
}

.section1-subtext {
    margin-top: 20px;
    color: #424F57;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
}

.section1-subtext2 {
    margin-top: 20px;
    color: #424F57;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}

.section2-wrapper {
    
    width: 100vw;
    height: 645px;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    clip-path: polygon(50% 13%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.section2-wrapper::after {
    content: '';
    background-color:rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .25s ease;
}

.section2 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
}

.section2-h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0px;
    text-align: center;
    color: #14AFCA;
}

.section2-subtext {
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.89px;
    text-align: center;
    color: white;
    margin-bottom: 18px;
}

.section2-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1040px;
    row-gap: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 350px;
}

.item1-img {
    width: 189px;
}

.item5-img {
    width: 159px;
}

.section3-wrapper {
    width: 100vw;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
}

.section3-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1040px;
    column-gap: 58px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.section3-h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #14AFCA;
    margin-top: 170px;
}

.section3-subtext {
    margin: 25px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.89px;
    text-align: center;
    color: #424F57;
}

.item9-img, .item10-img, .item11-img {
    width: 207px;
}

.section3-item-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #424F57;
}

.section4-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 550px;
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    clip-path: polygon(50% 13%, 100% 0, 100% 87%, 50% 100%, 0 87%, 0 0);
}

.section4-wrapper::after {
    content: '';
    background-color:rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .25s ease;
}

.section4 {
    position: relative;
    z-index: 1;
    width: 1040px;
}

.section4-h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.49px;
    text-align: center;
    color: #14AFCA;
    padding-top: 170px;
    text-transform: uppercase;
}

.section4-subtext {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.89px;
    text-align: center;
    color: white;
    margin-top: 25px;
}

.section4-subtext2 {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.80px;
    text-align: center;    
    color: #D3CCCC;
    margin-top: 49px;
}

.section4-subtext3 {
    font-style: Italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.449px;
    text-align: right;
    margin-top: 30px;
    color: white;
}

.section5-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.section5 {
    width: 1040px;
}

.section5-subtext {
    font-size: 18px;
    font-weight: 600;
    line-height: 87px;
    letter-spacing: 0.4499px;
    text-align: center;
    color: #424F57;
}

.section5-subtext2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.749px;
    text-align: center;
    color: #424F57;
}

.footer {
    margin-bottom: 88px;
}

.footer-subtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.69px;
    text-align: center;
    color: #3D3C3C;
    margin-top: 100px;
}

.footer-subtext2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.69px;
    text-align: center;
    color: #3D3C3C;
}

span {    
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.799999475479126px;
    text-align: center;
    color: #3D3C3C; 
}

