@font-face {
	font-family: 'FuturaBT', sans-serif;
	src: local('FuturaBT'), local('FuturaBT-Bold'),
		url('./futura-bt-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: Bold;
}

@font-face {
	font-family: 'FuturaBT', sans-serif;
	src: local('FuturaBT'), local('FuturaBT-Bold'),
		url('./Futura-Bold-BT.ttf') format('truetype');
	font-weight: 900;
	font-style: Bold;
}